body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  justify-content: space-around;
}

#countrycontainer {
  border: 1px solid black;
  background-color: pink;
}

.app {
  text-align: center;
}

.app-container {
  position: relative;
}

ol {
  padding: 0;
}

li {
  margin: 1em 0;
  text-align: left;
}

/* .flag-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.5;
}

.app-container {
  position: relative;
} */
